@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
:root {
  --primary-color-dark: #ffff;
  --primary-color-light: #000000;
  --color-txtbtn-dark: #000000;
  --color-txtbtn-light: #ffff;
  --background-color-dark: #161513;
  --background-color-light: #d3d3d3;
  --color-footer-light: #cacaca;
  --color-footer-dark: #191919;
  --secondary-text-dark: #c5c5c5;
  --secondary-text-light: #180000;
  --Secondary-Color: #8491a0;
  --margin: 20px;
  --padding: 20px;
  --gap-header: 20px;
  --gap-logos: 40px;
  --gap-card: 40px;
  --padding-button: 15px;
  --card-color-dark: #2a2a2a;
  --card-color-light: #cacaca;

  --color-footer: var(--color-footer-dark);
  --card-Color: var(--card-color-dark);
  --color-txtbtn: var(--color-txtbtn-dark);
  --secondary-text: var(--secondary-text-dark);
  --Background-Color: var(--background-color-dark);
  --primary-Color: var(--primary-color-dark);
}
[data-theme="light"] {
  --card-Color: var(--card-color-light);
  --color-txtbtn: var(--color-txtbtn-light);
  --Background-Color: var(--background-color-light);
  --primary-Color: var(--primary-color-light);
  --secondary-text: var(--secondary-text-light);
  --color-footer: var(--color-footer-light);
}
body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
  background-color: var(--Background-Color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    box-shadow 0.3s;
}
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #2222;
  height: 50px;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(10px);
  .btn-theme {
    background: none;
    border: none;
  }
  a {
    text-decoration: none;
    color: var(--primary-Color);
  }
}

.section01 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    color: var(--primary-Color);
    font-weight: bold;
  }
  span {
    margin-bottom: var(--margin);
    color: var(--secondary-text);
  }
  Strong {
    background: rgb(91, 173, 255);
    background: linear-gradient(
      90deg,
      rgba(91, 173, 255, 1) 0%,
      rgba(19, 115, 209, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    color: var(--secondary-text);
    font-weight: normal;
    margin-bottom: var(--margin);
    font-size: 18px;
  }
}
.btn-wrapper {
  overflow: hidden;
}
.btn {
  width: 100%;

  a {
    display: inline-block;
    color: var(--color-txtbtn);
    text-decoration: none;
    margin: var(--margin);
    padding: var(--padding-button);
    height: 100%;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
  }
  a {
    border: none;
    background: var(--primary-Color);
  }
  a:hover {
    transform: scale(0.9);
    background: linear-gradient(
      90deg,
      rgba(91, 173, 255, 1) 0%,
      rgba(19, 115, 209, 1) 100%
    );
  }
}
.section02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-text);
  }
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .logo-container img {
    margin: var(--margin);
    height: 90px;
    width: 90px;
  }
}
.section03 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-weight: 800;
    background: rgb(255, 134, 96);
    background: linear-gradient(
      90deg,
      rgba(255, 134, 96, 1) 0%,
      rgba(213, 73, 29, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a {
    text-decoration: none;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-card);
    flex-wrap: wrap;
    height: auto;
  }
  .card {
    background-color: var(--card-Color);
    height: 330px;
    transition: transform 0.3s ease;
  }
  .card:hover {
    background: rgb(255, 134, 96);

    background: linear-gradient(
      90deg,
      rgba(255, 134, 96, 1) 0%,
      rgba(213, 73, 29, 1) 100%
    );
    transform: scale(1.1);
    cursor: pointer;
    .card-text {
      color: #000;
    }
  }
  .card-img-top {
    padding: 10px;
  }
  .card-title {
    font-weight: 800;
    font-size: 19px;
    color: var(--primary-Color);
  }
  .card-text {
    color: var(--secondary-text);
  }
}

.section02 {
  animation: reveal 1ms ease-in-out both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}
@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }

  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

footer {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: var(--color-footer);
  width: 100%;
  span {
    font-size: 23px;
    font-weight: bold;
    color: var(--primary-Color);
  }
  p {
    color: var(--secondary-text);
    margin: 0;
  }
  .contato {
    margin-top: 10px;
    white-space: nowrap;
    font-weight: 600;

    a {
      margin-left: 5px;
      text-decoration: none;
    }
  }
}
@media (max-width: 375px) {
  .contato {
    font-size: 14px;
  }
}
